{% extends "layouts/base.njk" %}

{% block pageContent %}

    {% set lastModifiedDate = page.inputPath | last_modified_date | format_date %}

    <i>Last updated on
        <strong>{{ lastModifiedDate }}</strong>
    </i>

    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="menu" class="lucide lucide-menu">
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <line x1="4" y1="6" x2="20" y2="6"></line>
        <line x1="4" y1="18" x2="20" y2="18"></line>
    </svg>

    <br/><br/><br/>

    <span class="icon is-large">
        {{ "lucide:home" | to_icon | safe }}
    </span>

    <button class="button is-primary is-large">
        <span class="icon is-small">
            {{ "lucide:home" | to_icon | safe }}
        </span>
        <span>Home</span>
    </button>

    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input is-large" type="email" placeholder="Email">
            <span class="icon is-large is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-large is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input is-large" type="password" placeholder="Password">
            <span class="icon is-large is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>

    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input class="input is-large" type="email" placeholder="Email">
            <span class="icon is-large is-left">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                    <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                </svg>
            </span>
            <span class="icon is-large is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input class="input is-large" type="password" placeholder="Password">
            <span class="icon is-large is-left">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect>
                    <path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                </svg>
            </span>
        </p>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">From</label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input is-large" type="text" placeholder="Name">
                    <span class="icon is-large is-left">
                        <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                            <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                        </svg>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded has-icons-left has-icons-right">
                    <input class="input is-large is-success" type="email" placeholder="Email" value="alex@smith.com">
                    <span class="icon is-large is-left">
                        {{ "lucide:mail" | to_icon | safe }}
                    </span>
                    <span class="icon is-large is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label"></div>
        <div class="field-body">
            <div class="field is-expanded">
                <div class="field has-addons">
                    <p class="control">
                        <a class="button is-static">
                            +44
                        </a>
                    </p>
                    <p class="control is-expanded">
                        <input class="input" type="tel" placeholder="Your phone number">
                    </p>
                </div>
                <p class="help">Do not enter the first zero</p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Department</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>Business development</option>
                            <option>Marketing</option>
                            <option>Sales</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <label class="label">Already a member?</label>
        </div>
        <div class="field-body">
            <div class="field is-narrow">
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="member">
                        Yes
                    </label>
                    <label class="radio">
                        <input type="radio" name="member">
                        No
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Subject</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
                </div>
                <p class="help is-danger">
                    This field is required
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Question</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label">
            <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <button class="button is-primary">
                        Send message
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="icon">
        {{ "lucide:file-code" | to_icon | safe }}
    </div>

    <div class="icon">
        {{ "simpleIcons:github" | to_icon | safe }}
    </div>

    <div class="icon">
        {{ "assets:fable" | to_icon | safe }}
    </div>

    {% set icon = "simpleIcons:github" %}
    <div class="icon">
        {{ icon | to_icon | safe }}
    </div>

{% endblock pageContent %}
