group Docs
    generate_load_scripts: true
    storage: none
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget Giraffe.ViewEngine
    nuget Legivel
    nuget FsConfig
    nuget Markdig
    nuget Feliz.ViewEngine

group FSharp.Static
    storage: none
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core content: none
    nuget Argu
    nuget Saturn
    nuget Spectre.Console
    nuget FSharp.Compiler.Service
    nuget FsToolkit.ErrorHandling
    nuget FSharp.Quotations.Evaluator
    nuget Legivel
