group Docs
    storage: none
    framework: net6.0
    source https://api.nuget.org/v3/index.json
    generate_load_scripts: true

    nuget Giraffe.ViewEngine
    nuget Legivel
    nuget FsConfig
    nuget Markdig
    nuget Feliz.ViewEngine

group FSharp.Static
    storage: none
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core content: none
    nuget Argu
    nuget Spectre.Console
    nuget Suave
    nuget Saturn
