@use "./_variables.scss";
@use "./base/all.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-footer {
    margin-top: auto;
    padding: var(--space-3);

    .site-footer-body {
        display: flex;
        justify-content: space-between;
        max-width: 640px;
        margin-right: auto;
        margin-left: auto;
    }

    .social {
        list-style-type: none;
        display: flex;
        gap: var(--space-3);
    }
}


.padding {
    padding: var(--padding);
}

.p1 {
    --padding: var(--space-1);
}

.p2 {
    --padding: var(--space-2);
}

.p3 {
    --padding: var(--space-3);
}

.p4 {
    --padding: var(--space-4);
}

.p5 {
    --padding: var(--space-5);
}

.p6 {
    --padding: var(--space-6);
}

.p7 {
    --padding: var(--space-7);
}
