@use "./_variables.scss";
@use "./base/all.scss";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-footer {
    margin-top: auto;
    padding: var(--space-3);
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;

    &--copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--social {
        list-style-type: none;
        display: flex;
        gap: var(--space-3);
        align-items: center;
        justify-content: center;
        margin-top: var(--space-standard);
        margin-bottom: var(--space-standard);
    }
}

.container {
    // max-width: var(--content-max-width);
    // width: 100%;
    // margin-right: auto;
    // margin-left: auto;
    // padding-left: var(--space-standard);
    // padding-right: var(--space-standard);
    width: min(100% - var(--space-standard) * 2, var(--content-max-width, 60ch));
    margin-inline: auto;
}

.icon {
    aspect-ratio: 1;
    font-size: var(--text-size-3);
    width: var(--text-size-3);
    display: inline-grid;
    line-height: 1.1;
    place-content: center;
    text-align: center;
}
