/* Prevent text overflow */
p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;

    /* Optional, not supported for all languages */
    hyphens: auto;

    margin-top: 0;
}

p {
    font-size: var(--text-base-size);
}

h4,
.text-size-4 {
    font-size: var(--text-size-4);
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: var(--text-vertical-spacing);
    font-weight: var(--header-font-weight);
}

h3,
.text-size-3 {
    font-size: var(--text-size-3);
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: var(--text-vertical-spacing);
    font-weight: var(--header-font-weight);
}

h2,
.text-size-2 {
    font-size: var(--text-size-2);
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: var(--text-vertical-spacing);
    font-weight: var(--header-font-weight);
}

h1,
.text-size-1 {
    font-size: var(--text-size-1);
    line-height: calc(2px + 2ex + 2px);
    margin-bottom: var(--text-vertical-spacing);
    font-weight: var(--header-font-weight);
}
