---
title: Home page
date: 2020-05-10
---
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    {% set greeting = 'hello' %}

    Yay, {{ greeting | upper }} world!
  </body>
</html>
