{#
    Compute body class to identify the current page and the layout

    The ideas is taken from: https://11ty.rocks/tips/layout-templating/

    It makes it easy to apply page specific styles
#}

{#
    Use page.fileSlug is available otherwise fallback to home

    Note: index doesn't have a fileSlug computed so will fallback to home
#}
{% set pageBodyClass = page.filePathStem | file_to_body_class %}
{% set layoutBodyClass = layout | layout_to_body_class %}
{% set hasFooterBodyClass = "has-footer" if footer.sitemapSections or footer.text or footer.copyright else "" %}

<!doctype html>
<html class="has-navbar-fixed-top" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if isDevelopment %}
            {{ '🚨' | fav_icon_from_emoji | safe }}
        {% else %}
            <link rel="icon" href="{{ '/assets/img/favicon/favicon-192x192.png' | add_hash }}" type="image/png">
        {% endif %}

        <meta name="referrer" content="no-referrer-when-downgrade">

        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="/" crossorigin="crossorigin">
        <title>{{ title or metadata.title | escape }}</title>
        <script src="/assets/js/navbar.js" defer></script>
    </head>
    <body class="{{ pageBodyClass }} {{ layoutBodyClass }} {{ hasFooterBodyClass }}">

        {% include "components/navbar.njk" %}

        {{ data | dump | safe }}

        <div class="page-content">
        </div>

        {# {% for endItem in navbar.end %}
            <li>{{ endItem.label }}</li>
        {% endfor %}

        {{ pageBodyClass }}

        {% block pageContent %}
            {{ content | safe }}
        {% endblock pageContent %} #}

        {% include "components/footer.njk" %}

    </body>
</html>
